* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: poppins sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #1E3E62;
    color: #FF6500;

}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 17px;
}

ul {
    list-style: none;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;

}

.navbar {
    background-color: #0B192C;
    color: #D8A25E;
    height: 65px;
}

.navbar :hover {
    color: aqua;
}

.logo {
    font-size: x-large;
    font-weight: bold;
    display: flex;
}

.navbar a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
}

.navbar.ul li {
    margin-left: 20px;
}

.header {
    /* background-color: #B17457; */
    color: #D8A25E;
    min-height: 500px;

}

.header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 300px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}



.box {

    flex: 1;
    background: #0B192C;
    color: #D8A25E;
    border-radius: 15px;
    margin: 15px 8px;
    padding: 15px 15px;
}

.box i {
    margin-right: 15px;
}

.talk .container{
    display: flex;
    /* background: #0B192C; */
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 20px;
    
}
.talk img{
    max-width: 200px;
}
.the-end{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background: #0B192C;
    height: 5rem;
}
.the-end a{
    color: #FF6500;
    text-decoration: none;
    

}
.the-end :hover{
    color: goldenrod;
    font-size: medium;
    font-weight: bold;
}